.env
.env.testing
.phpunit.result.cache

/vendor/
/scribe/
/node_modules/
/public/css/
/public/js/
/public/storage
/public/hot

/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
*.log